html {
  --pink: #ff6b81;
  --grey: #d9d9d9;
  --gray: #3e3e3e;
}
body { 
  background: url('https://shikimori.one/assets/background/pink_rice.png') repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .l-top_menu-v2 .menu-dropdown .submenu-triangle:after {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    
  }
  .l-top_menu-v2 .menu-dropdown.active .submenu-triangle:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .l-top_menu-v2 .submenu>a:hover {
  	background: #2d2d2d;
    color: var(--grey);
  }
}
@media screen and (min-width: 1024px) {
  .l-top_menu-v2 .global-search .search-results .search-mode:hover:before {
    background: rgba(255, 107, 129, 0.5);
  }
  .l-top_menu-v2 .global-search .search-results .search-mode:hover {
    background: -webkit-gradient(linear, right top, left top, from(rgba(204, 42, 58, 0.2)),
                                                              to(rgba(204, 42, 58, 0))), rgba(204, 42, 58, 0.01);
    background: -webkit-linear-gradient(right, rgba(204, 42, 58, 0.2) 0%, 
                                               rgba(204, 42, 58, 0) 100%), rgba(204, 42, 58, 0.01);
    background: linear-gradient(270deg, rgba(204, 42, 58, 0.2) 0%, 
                                        rgba(204, 42, 58, 0) 100%), rgba(204, 42, 58, 0.01);
    border-top-color: rgba(255, 107, 129, 0.7);
  }
  .l-top_menu-v2 .global-search .search-results:after,
  .l-top_menu-v2 .global-search .search-results:before {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
}
.l-top_menu-v2,
.l-top_menu-v2 .global-search .search-results .nothing_found.active:before,
.l-top_menu-v2 .global-search .search-results .nothing_found:focus:before,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item.active:before,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item:focus:before,
.l-top_menu-v2 .global-search .search-results .search-mode.active:before,
.l-top_menu-v2 .global-search .search-results .search-mode:focus:before {
  background: var(--pink);
}
.l-top_menu-v2 .global-search .search-results .nothing_found.active,
.l-top_menu-v2 .global-search .search-results .nothing_found:focus,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item.active,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item:focus,
.l-top_menu-v2 .global-search .search-results .search-mode.active,
.l-top_menu-v2 .global-search .search-results .search-mode:focus {
  background: -webkit-gradient(linear, right top, left top, from(rgba(204, 42, 58, 0.2)),
                                                            to(rgba(204, 42, 58, 0))), rgba(204, 42, 58, 0.01);
  background: -webkit-linear-gradient(right, rgba(204, 42, 58, 0.2) 0%, 
                                             rgba(204, 42, 58, 0) 100%), rgba(204, 42, 58, 0.01);
  background: linear-gradient(270deg, rgba(204, 42, 58, 0.2) 0%, 
                                      rgba(204, 42, 58, 0) 100%), rgba(204, 42, 58, 0.01);
  border-top-color: rgba(255, 107, 129, 0.7);
}
.l-top_menu-v2 .global-search .search-results .nothing_found,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item,
.l-top_menu-v2 .global-search .search-results .search-mode {
  border-bottom: 1px solid rgba(204, 42, 58, 0.2);
  border-top: none;
}
.l-top_menu-v2.is-search-focus .global-search .search-marker {
  color: white;
}
.search-marker,
.l-top_menu-v2 .global-search input,
.l-top_menu-v2 .global-search .search-results .search-mode, 
.l-top_menu-v2 .global-search .search-results .nothing_found,
.l-top_menu-v2 .global-search .clear {
  color: var(--grey);
}
.submenu-triangle:after,
.icon-profile:before,
.forum:before {
  color: var(--grey);
}
.menu-icon:before {
  color: unset;
}
.l-top_menu-v2 .global-search .clear:active {
  color: white;
}
.l-top_menu-v2 .global-search input,
.l-top_menu-v2 .global-search .search-results {
  background: var(--gray);
}
.l-top_menu-v2 .global-search .search-results {
  border-radius: 0 0 2px 2px;
}
.l-top_menu-v2 {
  position: fixed;
  top: 0;
  width: 100%;
}
.x1200 .l-page {
  margin-top: 50px;
}
.b-ajax:before {
  background: rgba(0, 0, 0, 0.5);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
.b-db_entry-variant-list_item {
  border-top: 1px dashed black;
}
.l-top_menu-v2 .global-search .search-results .nothing_found.active + .b-db_entry-variant-list_item,
.l-top_menu-v2 .global-search .search-results .nothing_found.active + .search-mode,
.l-top_menu-v2 .global-search .search-results .nothing_found:focus + .b-db_entry-variant-list_item,
.l-top_menu-v2 .global-search .search-results .nothing_found:focus + .search-mode,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item.active + .b-db_entry-variant-list_item,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item.active + .search-mode,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item:focus + .b-db_entry-variant-list_item,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item:focus + .search-mode,
.l-top_menu-v2 .global-search .search-results .search-mode.active + .b-db_entry-variant-list_item,
.l-top_menu-v2 .global-search .search-results .search-mode.active + .search-mode,
.l-top_menu-v2 .global-search .search-results .search-mode:focus + .b-db_entry-variant-list_item,
.l-top_menu-v2 .global-search .search-results .search-mode:focus + .search-mode {
  border-top-color: #ff0023;
}
.b-db_entry-variant-list_item > .info .line .key {
  color: var(--grey);
}
.b-tag {
  color: var(--pink);
  border-bottom: 1px dashed black;
}
.b-anime_status_tag.episode,
.b-anime_status_tag.studio {
  background-color: #222222;
  border: 1px solid var(--pink);
  border-radius: 10px;
  color: var(--grey);
}
body[data-localized_names="ru"] .name-en {
  display: block;
  clear: right;
}
.name-en,
.name-ru {
  color: #faebb1;
}
.l-top_menu-v2 .submenu {
  background: var(--gray);
  border-radius: 0 0 10px 10px;
}
